h1{
text-align: center;
}
img{
    height: 350px;
    width: 800px;
}
code{
    background-color: #d9f5f9;
}
section{
    margin-top: 4rem;
}
div{
    margin-top: 4rem;
    text-align: center;
}
#voltar{
    text-align: right;
}
body{
    background-color: rgb(197, 183, 183);
}